* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto;
    color: white;
}

h1,h2,h3,h4,h5,h6 {
    font-family: cursive;
}

.wrapper {
    position: relative;
    background: url(Assets/images/home3.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;
}
.overlay {
  position: absolute;       
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}
header,
.content,
.wave 
{
  position: relative;
  z-index: 2; 
}
.wave {
    position: absolute;
    width: 100%;
    bottom: -140px;
    color: #fff;
    opacity: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 25px 0px; */
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.6));
    display: flex;
}

header .logo {
    font-size: 28px;
    font-weight: 700px;
    color: #fff;
    float: left;
    padding: 25px 80px;
}
header .menu{
    float: left;
    margin-top: 5px;
    margin-left: 679px;
    padding: 25px 0px;
}
.menu ul li:hover{
    background-color: #ffc107;
}
.menu ul li {
    transition: all 0.3s ease;
    border-radius: 20px;
    padding: 5px 17px;
}
header ul li{
    display: inline-block;
}
header .menu  ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    /* margin: 0px 5px; */
    font-weight: 300;
    letter-spacing: 1px;
    z-index: 10;
}
.content {
    padding: 200px 80px 0px;
    max-width: 55%;
    color: #fff;

}
.content h1 {
    font-size: 48px;
}
.content p{
    font-size: 20px;
    padding: 25px 0;
    font-weight: 300;
}
.content .btn-group{
    margin-top: 25px;
    cursor: pointer;
}
.content a {
display: inline-block;
padding: 15px 44px;
text-decoration: none;
color: #fff;
border-radius: 50px;

}
.content .color1{
    background-color: #ffc107;
}

.our-partners{
    position: relative;
}
.our-partners h3{
    position: relative;
    font-size: 28px;
    margin-bottom: 25px;
    margin-top: -55px;
    color:black;
    margin-left: 20px;
    z-index: 2;
}
.our-partners hr{
  border: none;
  height: 4px;
  width: 100px;
  background-color: orange;
  margin-left: 20px;
  margin-bottom: 45px;
}
.our-partners-inner{
     display: flex;
     justify-content: space-between;
     margin-left: 10px;
}
.our-partners-inner img{
    display: inline-block;
    margin-right: 25px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid #cacaca;
    box-shadow: 0px 2px 0 #cacaca;

}
